{% extends "base.html" %}

{% block body %}
<table border="1">
<tr>
<td>
    <h1>Make a new order</h1>
<form action="?" method="POST">
<table>
<tr>
    <th></th>
    <th>Title</th>
    <th>Price</th>
    <th>Weight</th>
</tr>
{% for item in items %}
<tr>
    <td><input id="item_{{ item.id }}" type="checkbox" name="item_{{ item.id }}" /></td>
    <td><label for="item_{{ item.id }}">{{ item.title|escape }}</label></td>
    <td>{{ item.price }}</td>
    <td>{{ item.weight }}</td>
</tr>
{% endfor %}
</table>

<input type="submit" name="order" value="Order" />

</form>
</td>

<td>
    <h1>Your orders</h1>
<table border="1">
<tr>
    <th>ID</th>
    <th>Date</th>
    <th>State</th>
    <th>Financial<br />state</th>
    <th>Already<br />charged for:</th>
    <th>Actions</th>
    <th>Items</th>
</tr>
{% for package in packages %}
<tr>
    <td>{{ package.google_id }}</td>
    <td>{{ package.when }}</td>
    <td>{{ package.state }}</td>
    <td>{{ package.financial_state }}</td>
    <td>{{ package.charged }}</td>
    <td>
<form action="/shop/do/" method="post">
    <input type="hidden" name="p_id" value="{{ package.id }}" />

    <input type="submit" name="charge" value="Charge ({{ package.get_rest }})" />
    <input type="submit" name="charge10" value="Charge (10)" />
    <input type="submit" name="refund" value="Refund({{ package.charged }})" />
    <input type="submit" name="archive" value="Archive" />
    <input type="submit" name="unarchive" value="Unarchive" />

    <input type="submit" name="process" value="Process" />
    <input type="submit" name="deliver" value="Deliver" />
    <input type="submit" name="cancel" value="Cancel" />
</form>
    </td>
    <td>
        <ul>
{% for item in package.items.all %}
            <li>{{ item.title }} &mdash; {{ item.price }}</li>
{% endfor %}
        </ul>
    </td>
</tr>
{% endfor %}
</table>
{% if error %}
    <h2>Error:</h2>
    <pre>{{ error }}</pre>
{% endif %}
</td>
</tr>
</table>
{% endblock %}
